{% extends 'base.html' %}

{% block content%}
    <div class="container">
        <h2>Account Settings</h2>
        <h3>{{ user }}</h3>

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                {% for message in messages %}
                  <br>    
                    <div class="card">
                      <div class="card-body">
                        {{ message }}
                      </div>
                    </div>
                {% endfor %}
            </div>
            <div>
                <div>
                    <label for=""> My Avatar</label>
                    {% if user_profile.avatar %}
                        <img width="100" height="100" src="{{user_profile.avatar.url}}">
                    {% else %}
                        <h5>No avatar</h5>
                    {% endif %}
                    <input type="file" name="avatar" value="">
                </div>
                <div class="mb-3">
                    <label for="about" class="form-label">About me:</label>
                    <textarea id="about" name="about" class="form-control">{{user_profile.about}}</textarea>
                </div>
            </div>
            <select name="gender" class="form-select" aria-label="Default select example">
                <option value="male">Male</option>
                {% if user_profile.gender == "female" %}
                <option value="female" selected>Female</option>
                {% else %}
                <option value="female">Female</option>
                {% endif %}
            </select>
            <span>
                <button> <a href="/">Cancel</a></button>
                <button type="submit"> Save </button>
            </span>
        </form>
    </div>

{% endblock %}