{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <img src="{{ user_profile.avatar.url }}" style="width:225px; height:350px">
        <h2>Profile - {{ user_profile.user.username }}</h2>
        <span>
            <form action="{% url 'profile_follow' %}" method="POST">
                {% csrf_token %}
                <input type='hidden' value="{{user.username}}" name="follower">
                <input type='hidden' value="{{user_object.username}}" name="user">
                {% if user_object.username == user.username %}
                <a href="{% url 'profile_settings' %}">Settings</a>
                {% else %}
                <a data-ripple=""><button type="submit" class="btn btn-primary">{{ user_follow_button }}</button></a>
                {% endif%}
            </form>

            <span>
                <p>
                    About me: {{ user_profile.about }}
                </p>
                {% if user_recipe_quantity == 0 %}
                    <span>No posts</span> ||
                {% elif user_recipe_quantity == 1 %}
                    <span>{{ user_recipe_quantity }} Post</span> ||
                {% else %}
                    <span>{{ user_recipe_quantity }} Posts</span> ||
                {% endif %}
            </span>
        </span>
        <hr>

        {% if user_recipe_quantity > 0 %}
            <div>
                {% for recipe in user_recipe %}
                    <br>
                    <div class="card" style="width: 48rem;">
                        {% if recipe.preview %}
                            <a href="{{ recipe.preview.url }}"><img class="card-img-top" src="{{ recipe.preview.url }}"></a>
                        {% endif %}
                        <div class="card-body">
                            {% if recipe.text %}
                                <p class="card-text">{{ recipe.text }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}